<%= form_for(@stylist) do |f| %>
  <% if @stylist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stylist.errors.count, "error") %> prohibited this stylist from being saved:</h2>

      <ul>
      <% @stylist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>`
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :indate %>&nbsp;&nbsp;&nbsp;
    <%= f.date_select :indate %>
  </div>
  <div class="field">
    <%= f.label :greet %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :greet %>
  </div>
  <div class="field">
    <%= f.label :first %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :middle %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :middle %>
  </div>
  <div class="field">
    <%= f.label :last %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :suffix %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :suffix %>
  </div>
  <div class="field">
    <%= f.label :gender %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :keycode %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :keycode %>
  </div>
  <div class="field">
    <%= f.label :status %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :available %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :available %>
  </div>
  <div class="field">
    <%= f.label :skilllvl %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :skilllvl %>
  </div>
  <div class="field">
    <%= f.label :speed %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :speed %>
  </div>
  <div class="field">
    <%= f.label :bestat %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :bestat %>
  </div>
  <div class="field">
    <%= f.label :addr1 %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :addr1 %>
  </div>
  <div class="field">
    <%= f.label :addr2 %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :addr2 %>
  </div>
  <div class="field">
    <%= f.label :city %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zipcode %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :cellphn %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :cellphn %>
  </div>
  <div class="field">
    <%= f.label :homephn %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :homephn %>
  </div>
  <div class="field">
    <%= f.label :workphn %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :workphn %>
  </div>
  <div class="field">
    <%= f.label :otherphn %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :otherphn %>
  </div>
  <div class="field">
    <%= f.label :emergencyphn %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :emergencyphn %>
  </div>
  <div class="field">
    <%= f.label :emergcontact %>&nbsp;&nbsp;&nbsp;
    <%= f.text_field :emergcontact %>
  </div>
  <div class="field">
    <%= f.label :notes %>&nbsp;&nbsp;&nbsp;
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
