<h1>Listing stylists</h1>

<table>
  <thead>
    <tr>
      <th>Indate</th>
      <th>Greet</th>
      <th>First</th>
      <th>Middle</th>
      <th>Last</th>
      <th>Suffix</th>
      <th>Gender</th>
      <th>Keycode</th>
      <th>Status</th>
      <th>Available</th>
      <th>Skilllvl</th>
      <th>Speed</th>
      <th>Bestat</th>
      <th>Addr1</th>
      <th>Addr2</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Cellphn</th>
      <th>Homephn</th>
      <th>Workphn</th>
      <th>Otherphn</th>
      <th>Emergencyphn</th>
      <th>Emergcontact</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stylists.each do |stylist| %>
      <tr>
        <td><%= stylist.indate %></td>
        <td><%= stylist.greet %></td>
        <td><%= stylist.first %></td>
        <td><%= stylist.middle %></td>
        <td><%= stylist.last %></td>
        <td><%= stylist.suffix %></td>
        <td><%= stylist.gender %></td>
        <td><%= stylist.keycode %></td>
        <td><%= stylist.status %></td>
        <td><%= stylist.available %></td>
        <td><%= stylist.skilllvl %></td>
        <td><%= stylist.speed %></td>
        <td><%= stylist.bestat %></td>
        <td><%= stylist.addr1 %></td>
        <td><%= stylist.addr2 %></td>
        <td><%= stylist.city %></td>
        <td><%= stylist.state %></td>
        <td><%= stylist.zipcode %></td>
        <td><%= stylist.cellphn %></td>
        <td><%= stylist.homephn %></td>
        <td><%= stylist.workphn %></td>
        <td><%= stylist.otherphn %></td>
        <td><%= stylist.emergencyphn %></td>
        <td><%= stylist.emergcontact %></td>
        <td><%= stylist.notes %></td>
        <td><%= link_to 'Show', stylist %></td>
        <td><%= link_to 'Edit', edit_stylist_path(stylist) %></td>
        <td><%= link_to 'Destroy', stylist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stylist', new_stylist_path %> |
<%= button_to 'Home', root_path, :method => :get %>
