<p id="notice"><%= notice %></p>

<p>
  <strong>Indate:</strong>
  <%= @stylist.indate %>
</p>

<p>
  <strong>Greet:</strong>
  <%= @stylist.greet %>
</p>

<p>
  <strong>First:</strong>
  <%= @stylist.first %>
</p>

<p>
  <strong>Middle:</strong>
  <%= @stylist.middle %>
</p>

<p>
  <strong>Last:</strong>
  <%= @stylist.last %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @stylist.suffix %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @stylist.gender %>
</p>

<p>
  <strong>Keycode:</strong>
  <%= @stylist.keycode %>
</p>

<p>
  <strong>Status:</strong>
  <%= @stylist.status %>
</p>

<p>
  <strong>Available:</strong>
  <%= @stylist.available %>
</p>

<p>
  <strong>Skilllvl:</strong>
  <%= @stylist.skilllvl %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @stylist.speed %>
</p>

<p>
  <strong>Bestat:</strong>
  <%= @stylist.bestat %>
</p>

<p>
  <strong>Addr1:</strong>
  <%= @stylist.addr1 %>
</p>

<p>
  <strong>Addr2:</strong>
  <%= @stylist.addr2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @stylist.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @stylist.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @stylist.zipcode %>
</p>

<p>
  <strong>Cellphn:</strong>
  <%= @stylist.cellphn %>
</p>

<p>
  <strong>Homephn:</strong>
  <%= @stylist.homephn %>
</p>

<p>
  <strong>Workphn:</strong>
  <%= @stylist.workphn %>
</p>

<p>
  <strong>Otherphn:</strong>
  <%= @stylist.otherphn %>
</p>

<p>
  <strong>Emergencyphn:</strong>
  <%= @stylist.emergencyphn %>
</p>

<p>
  <strong>Emergcontact:</strong>
  <%= @stylist.emergcontact %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @stylist.notes %>
</p>

<%= link_to 'Edit', edit_stylist_path(@stylist) %> |
<%= link_to 'Back', stylists_path %> |
<%= button_to 'Home', root_path, :method => :get %>